/* main */

main {
    width: 100%;
    padding: 60px 35px;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

@media screen and (min-width: 700px) {

    main {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
}